@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Josefin+Sans:wght@400;500;600&family=Kanit:wght@500;700&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Montserrat:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Qaligo;
  src: url("../logo/Qaligo.otf") format("opentype");
}

/* Box sizing */
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Layout */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  flex: 1;
}

.app-footer {
  margin-top: auto;
}

li>a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: left;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

h4 {
  font-family: "Fuzzy Bubbles", cursive;
  font: 400;
}

.text-price {
  color: #494945;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #494945;
}

.background-yellow {
  background: #C79E2A
}

.bg-button-homepage {
  background-color: #C79E2A
}

.background-gray {
  background: lightslategray;
}

.bg-product-home {
  background: #FFF2BB;
  border-radius: 6px;
}

.pcolor {
  color: #C79E2A
}

::placeholder {
  color: #C79E2A
}

:-ms-input-placeholder {
  color: #C79E2A
}

.card-color-satu {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.card-shadow-tiga {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.shadow-navbar {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.shadow-home-product {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.center {
  text-align: -webkit-center;
  text-align-last: center;
}

.height-banner {
  height: 60vh;
}

.checked {
  color: orange;
}

.border-yellow {
  border-style: solid;
  border-color: #C79E2A
}

.fade-enter-active {
  animation: coming 0.5s;
  animation-delay: 0.3s;
  opacity: 0;
}

.fade-leave-active {
  animation: going 0.5s;
}

@keyframes going {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-15px);
    opacity: 0;
  }
}

@keyframes coming {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

:root {
  /* Color */
  --vc-clr-primary: #000;
  --vc-clr-secondary: #090f207f;
  --vc-clr-white: #ffffff;
  /* Icon */
  --vc-icn-width: 1.2em;
  /* Navigation */
  --vc-nav-width: 30px;
  --vc-nav-height: 30px;
  --vc-nav-border-radius: 0;
  --vc-nav-color: var(--vc-clr-primary);
  --vc-nav-color-hover: var(--vc-clr-secondary);
  --vc-nav-background: transparent;
}

.carousel__item {
  min-height: 200px;
  width: 100%;
  background-color: var(--vc-clr-primary);
  color: var(--vc-clr-white);
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  background: var(--vc-nav-background);
  border-radius: var(--vc-nav-border-radius);
  width: var(--vc-nav-width);
  height: var(--vc-nav-height);
  text-align: center;
  font-size: var(--vc-nav-height);
  padding: 0;
  color: var(--vc-nav-color);
  display: flex;
  justify-content: space-between;
  align-items: revert;
  position: absolute;
  border: 0;
  cursor: pointer;
  margin: 0 5px;
  top: 33% !important;
  transform: translateY(-50%);
}

.carousel__prev:hover,
.carousel__next:hover {
  color: var(--vc-nav-color-hover);
}

.carousel__next--disabled,
.carousel__prev--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.carousel__next {
  right: -10px;
  background-color: #bdb76b !important;
}

.carousel__prev {
  left: -10px;
  background-color: #bdb76b !important;
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  .carousel__next {
    right: -5px !important;
  }

  .carousel__prev {
    left: -5px !important;
  }
}

@media only screen and (min-width: 1100px) {
  .carousel__next {
    right: -15px !important;
  }

  .carousel__prev {
    left: -15px !important;
  }
}

@media only screen and (max-width: 2400px) and (min-width: 1200px) {
  .carousel__next {
    right: -25px !important;
  }

  .carousel__prev {
    left: -25px !important;
  }
}

.carousel--rtl .carousel__prev {
  left: auto;
  right: 0;
}

.carousel--rtl .carousel__next {
  right: auto;
  left: 0;
}

.carousel {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  touch-action: pan-y;
  overscroll-behavior: none;
}

.carousel.is-dragging {
  touch-action: none;
}

.carousel * {
  box-sizing: border-box;
}

.carousel__track {
  display: flex;
  padding: 0 !important;
  position: relative;
}

.carousel__viewport {
  overflow: hidden;
}

.carousel__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.carousel__icon {
  width: 30px;
  height: 30px;
  fill: white !important;
}

.carousel__slide {
  scroll-snap-stop: auto;
  flex-shrink: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Fix iOS scrolling #22 */
  transform: translateZ(0);
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  -webkit-text-indent: -999px;
  text-indent: -999px;
  cursor: pointer;
  background-color: black !important;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}